body {
    font-family: "Montserrat";
    text-align: center;
}

h1 {
    font-weight: bold;
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

#title {
    background-color: #B0BEC5;
    color: white;
}

.navbar-brand {
    font-size: 1.7rem;
    font-family: "Ubuntu";
    font-weight: bold;
}


.container-fluid {
    padding: 3% 10% 6%;
}

.row {
    padding-top: 6%;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";

}

.download-button {
    margin: 5% 3% 5% 0;
}

.iphone-image {
    width: 30%;
    transform: rotate(45deg);
    position: absolute;
    left: 55%;
}

#features {
    margin: auto;
    padding: 3% 6%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.features-box {
    text-align: center;
    padding: 5%;
}

#features h3 {
    padding-top: 5%;
}

#features .size-icon {
    width: 10px;

}

#features .icon {
    color: #8f8f8f;
}

#features .heart-icon:hover {
    color: red;
    cursor: pointer;
}

#testimonials {
    background-color: #8f8f8f;
    color: #fff;
}

.testimonial-image {
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 3% 6%;
}

#press {
    background-color: #8f8f8f;
    margin: auto;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    margin: 10%;
    font-family: "Montserrat-Bold";
}

#cta {
    background-color: #8f8f8f;
    color: #fff;
    padding: 3% 6%;
    margin-bottom: 5%;
}

#cta h3 {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    background-color: #fff;
    padding: 3% 6%;
}

.social-icon {
    margin: 20px 10px;
    color: #000;
}

@media (max-width: 992.3px) {
    #title {
        text-align: center;
    }

    .iphone-image {
        position: static;
        transform: rotate(0);
        width: 40%;
    }
}